.panel-title a {
  display: block;
  padding: 10px 15px;
  margin: -10px -15px;
}

.v-mid {
  vertical-align:middle !important;
}

.h-mid {
  margin-left: auto !important;
  margin-right: auto !important;
}

.manual-bg-accent {
  background-color: #f9f9f9; /* This should match @table-bg-accent or .table-striped > tbody > tr:nth-of-type(odd) */
}

<<<<<<< HEAD
=======
.small-margin-top {
  margin-top: 5px;
}

.small-margin-bottom {
  margin-bottom: 5px;
}

/* play.html button styles */
.btn-low-hp {
  background-color: #f0c589;
}

>>>>>>> temp20160705
.btn-hp {
  width:10%;
  font-size: 12px;
}

.btn-player {
  padding: 0;
  font-size: 14px;
}

.btn-hp.btn-default.active {
  color: #fff;
  background-color: #595959;
  border-color: #333333;
}

.btn-hp.btn-info.active {
  color: #fff;
  background-color: #124a5b;
  border-color: #0a2730;
}

<<<<<<< HEAD
.small-margin-top {
  margin-top: 5px;
}

.small-margin-bottom {
  margin-bottom: 5px;
=======
.img-preload {
  max-width:2.5%;
  height: auto;
>>>>>>> temp20160705
}

button {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap
}
<<<<<<< HEAD
=======

/* Prevent background from going black when going fullscreen */
section, .fullscreen-view {
  width: 100%;
	background-color: #fff;
}
>>>>>>> temp20160705
