.panel-title a {
  display: block;
  padding: 10px 15px;
  margin: -10px -15px;
}

.v-mid {
  vertical-align:middle !important;
}

.h-mid {
  margin-left: auto !important;
  margin-right: auto !important;
}

.manual-bg-accent {
  background-color: #f9f9f9; /* This should match @table-bg-accent or .table-striped > tbody > tr:nth-of-type(odd) */
}
