.panel-title a {
  display: block;
  padding: 10px 15px;
  margin: -10px -15px;
}

.v-mid {
  vertical-align:middle !important;
}

.h-mid {
  margin-left: auto !important;
  margin-right: auto !important;
}

.manual-bg-accent {
  background-color: #f9f9f9; /* This should match @table-bg-accent or .table-striped > tbody > tr:nth-of-type(odd) */
}

.small-margin-top {
  margin-top: 5px;
}

.small-margin-bottom {
  margin-bottom: 5px;
}

/* play.html button styles */
.btn-low-hp {
  background-color: #f0c589;
}

.btn-hp {
  padding: 0;
  width:10%;
  /*font-size: 10px;*/
}
.btn-hp.btn-tablet {
  font-size:18px;
}

.btn-player {
  padding: 0;
  font-size: 14px;
  line-height: 1;
}
.btn-player.btn-tablet {
 font-size: 18px;
 /*padding-top: 7px;
 padding-bottom: 3px;*/
}

.hp-text {
  font-size: 32px;
}
.btn-tablet > .hp-text {
  font-size: 58px;
}

#quickHealth > button {
  width: 16.6666666666666%;
  /*position: relative;*/
  float: left;
  line-height: 0.7;
  font-size: 24px;
}
#quickHealth > .btn-tablet {
  font-size: 40px;
}
.sponge-text {
  font-size: 11px;
  line-height: 0.8;
}
.btn-tablet >.sponge-text {
  font-size: 18px;
}

.btn-hp.btn-default.active {
  color: #fff;
  background-color: #595959;
  border-color: #333333;
}
.btn-hp.btn-info.active {
  color: #fff;
  background-color: #124a5b;
  border-color: #0a2730;
}

.img-preload {
  max-width:2.5%;
  height: auto;
}

button {
  /*
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  */
  white-space: nowrap
}

/* Prevent background from going black when going fullscreen */
section, .fullscreen-view {
  width: 100%;
	background-color: #fff;
}
