.panel-title a {
  display: block;
  padding: 10px 15px;
  margin: -10px -15px;
}

.v-mid {
  vertical-align:middle !important;
}

.h-mid {
  margin-left: auto !important;
  margin-right: auto !important;
}

.manual-bg-accent {
  background-color: #f9f9f9; /* This should match @table-bg-accent or .table-striped > tbody > tr:nth-of-type(odd) */
}

.btn-hp {
  width:10%;
  font-size: 12px;
}

.btn-player {
  font-size: 14px;
}

.btn-hp.btn-default.active {
  color: #fff;
  background-color: #595959;
  border-color: #333333;
}

.btn-hp.btn-info.active {
  color: #fff;
  background-color: #124a5b;
  border-color: #0a2730;
}

.small-margin-top {
  margin-top: 5px;
}

.small-margin-bottom {
  margin-bottom: 5px;
}
